section {
    column-count: 3;
    display: table-row-group; 
    min-width: 1200px;
}

article {
    background: #0000;
    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 20px;
    transition: 0.3s;
    overflow: scroll;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
     }
     
collection > article {
    margin: 50px;
}
   

a:link, a:visited {
	background: transparent;
	color: #2988bc;
	text-decoration: none;
}


footer {
    display: none;
}
